*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2px;
    /* align-items: center; */
    justify-content: center;
    background-color: #f4ebc8c6;
}
body div img{
      background-size: cover;
      background-position: center;
      position: fixed;
      background-repeat: no-repeat;
      /* width: 100%; */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      filter: brightness(80%);
}
body section{
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(228, 227, 205, 0.754);
    /* padding: 100px; */
    /* opacity: 0.9; */
    border-radius: 6px;
}
body section article{
    display:flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: 100%;
}
header {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-left: 50px; */
    width:auto;
    background-color:#350A0A;
    /* transform: translate(-50%, -50%); */
}
header nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(82, 39, 39, 0.674);
    text-align: center;
    width: 100%;
}
a {
   display: flex;
   flex-direction: row;
   align-items: center;
   color: #CCB38D;
   font-family: "Montserrat";
   font-weight: bold;
   margin: 10px 20px 10px 50px;
   font-size: 25px;
   text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.bloque-form{
    display: flex;
    align-items: center;
    
}
.tit-log{
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size:60px;
    font-style: oblique;
    margin: 100px;
    color: #a83535;

}
.tit-log p{
    margin: 1px;
    /* background-color: #efeaea; */
}
.section-form{
    padding: 150px 50px ;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: right;
    background-color: rgba(231, 228, 216, 0.781);
    border-radius: 8px;
}
.title1{
    font-family:"Montserrat";
    font-size:25px;
    position: relative;
    text-align: center;
}
#mensaje-container {
    margin-top: 20px;
    padding: 15px 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border: 2px solid #efeaea;
    border-radius: 6px;
    background: white;
    width: 300px;
    text-align: center;
    min-height: 20px;
    position: relative;
}
/* texto del formulario */
#mensajeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mensaje{
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 12px 80px 12px 12px;
    border: #d5cdb0c6;
    border-radius: 6px;
    position: relative;
    margin: 5px;
}
.button{
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: fit-content;
    background-color: rgb(20, 163, 20);
    margin: 10px;
    padding: 10px 40px;
    border: 1px solid #949191c6;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}